@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f7f7;
}

h1,
form {
  text-align: center;
  margin: 20px auto;
}

form {
  display: block;
  background-color: rgb(199, 199, 199);
  width: 450px;
  height: 650px;
  border-radius: 15px;
}

input,
button {
  padding: 10px;
  border-radius: 5px;
}

input {
  margin: 40px auto;
  font-size: 25px;
}

button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 28%);
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: whitesmoke;
}

button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
  background: hsl(9, 100%, 71%);
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

button {
  border: 1px solid gray;
  background: black;
  color: whitesmoke;
  font-size: 35px;
  width: 150px;
  margin: 10px auto;
}

p {
  border: 15px solid black;
  padding: 15px 0;
  padding-right: 10px;
  background-color: rgb(29, 168, 45);
  font-family: "Press Start 2P", sans-serif;
  font-size: 40px;
  text-align: right;
  border-radius: 15px 15px 0 0;
}
